
.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
    border: 1px solid #dddddd;
    position: relative;
}
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.comment .comment-heading {
    height: 95px;
    padding: 20px 15px;
}
.comment .comment-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.comment .comment-heading .meta .title {
    margin-bottom: 0;
}
.comment .comment-heading .meta .title a {
    color: black;
}
.comment .comment-heading .meta .title a:hover {
    color: #aaaaaa;
}
.comment .comment-heading .meta .time {
    margin-top: 8px;
    color: #999;
}
.comment .comment-description {
    padding: 15px;
    padding-top: 0!important;
}
.comment-delete{
    position: absolute;
    bottom: 10px;
    right: 25px;
}
/*///////////////////////////////////*/

input, textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    color: #555f77;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ced2db;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ced2db;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ced2db;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ced2db;
}

p {
    line-height: 1.3125rem;
}

.comments {
    max-width: 100%;
}

.comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}

.comment-block {
    padding: 1rem;
    background-color: #fff;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-wrapper{
    width: 100%;
}
.comment-block textarea {
    width: 100%;
    resize: none;
}
.mb-10{
    margin-bottom: 10px;
}
button{
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    /*max-width: 180px;*/
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
    border: none;
}
.button {
    background-color:white;
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0 0 0 inset;
    cursor: pointer;
}
.one-comment-block{
    min-width: 630px;
}

