.table{
  border: 1px solid #dee2e6;
  font-size: 13px;
}

.table a{
  text-decoration: none;
  color: #0073aa;
  
}
.container{
  max-width: 1700px !important;
}

.table .author-th{
  width: 20%;
}
.table .comment-th{
  
}
.table .response-th{
  width: 15%;
}
.table .sended-th{
  width: 14%;
}
.table .author-col .photo{
  display: inline-block;
}
.table .author-col .text-box{
  display: inline-block;
}
.table .author-col .name{
  display: block;
  line-height: 15px;
  margin-left: 10px;
}
.table .author-col .mail{
  display: block;
  line-height: 15px;
  margin-left: 10px;
  color: #0073aa;
}
.table .author-col .ip{
  display: block;
  font-size: 13px;
  color: #0073aa;
}
.table .author-col .photo img{
  width: 32px;
  height: 32px;
}
.table .author-box {
  display: flex;
}

.table input[type=radio], .table input[type=checkbox] {
  border: 1px solid #b4b9be;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px 4px 0 0;
  outline: 0;
  padding: 0!important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  transition: .05s border-color ease-in-out;
}

.table input[type=checkbox]:checked:before {
  content: "✔";
  margin: 0 0 0 -1px;
  color: #1e8cbe;
}

.table input[type=radio]:checked:before, input[type=checkbox]:checked:before {
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  font: 400 15px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}