html, body {
  font-family: 'Rubik', sans-serif;
  background: #edf1f5;
  width: 100%;
  height: 100%; }

a {
  color: #9b9ba5; }
  a:hover {
    text-decoration: none;
    color: #000; }
/*Navbar*/
.nav-top-wrapper {
  position: fixed;
  z-index: 4;
  width: 100%;
  background-color: #fff;
  height: 60px; }
  .nav-top-wrapper .left-part {
    height: 60px;
    text-align: center;
    float: left;
    padding: 16px;
    border-right: 1px solid #ebebeb; }
    .nav-top-wrapper .left-part i {
      float: left;
      font-size: 28px; }
    .nav-top-wrapper .left-part .logo {
      font-weight: 800;
      font-size: 21px;
      padding: 0 43px 0 44px; }
      .nav-top-wrapper .left-part .logo span {
        color: #9b9ba5;
        font-weight: 500; }
  .nav-top-wrapper .navbar-top-links li {
    float: left; }
    .nav-top-wrapper .navbar-top-links li a {
      padding: 20px; }
      .nav-top-wrapper .navbar-top-links li a:hover {
        color: #9b9ba5; }
    .nav-top-wrapper .navbar-top-links li .dropdown-menu {
      border: 1px solid rgba(120, 130, 140, 0.13);
      -webkit-border-radius: 0;
              border-radius: 0;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05) !important;
      -webkit-box-shadow: 0 !important;
      -moz-box-shadow: 0 !important;
      padding-bottom: 8px;
      margin-top: 0;
      padding-bottom: 0; }
    .nav-top-wrapper .navbar-top-links li .mail {
      width: 280px;
      overflow: auto;
      padding-bottom: 0; }
      .nav-top-wrapper .navbar-top-links li .mail li {
        display: block;
        width: 100%; }
        .nav-top-wrapper .navbar-top-links li .mail li .mail-title {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          font-size: 15px;
          font-weight: 600;
          padding: 10px 10px;
          text-align: center;
          width: 100%; }
        .nav-top-wrapper .navbar-top-links li .mail li .message {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
          .nav-top-wrapper .navbar-top-links li .mail li .message a {
            border-bottom: 1px solid rgba(120, 130, 140, 0.13);
            display: block;
            padding: 9px 15px; }
            .nav-top-wrapper .navbar-top-links li .mail li .message a:hover {
              background: #f7fafc; }
          .nav-top-wrapper .navbar-top-links li .mail li .message .user-img {
            width: 40px;
            float: left;
            position: relative;
            margin: 0 10px 15px 0; }
            .nav-top-wrapper .navbar-top-links li .mail li .message .user-img img {
              width: 100%; }
            .nav-top-wrapper .navbar-top-links li .mail li .message .user-img .img-circle {
              -webkit-border-radius: 50%;
                      border-radius: 50%; }
          .nav-top-wrapper .navbar-top-links li .mail li .message .mail-content h5 {
            font-weight: 500;
            margin: 0;
            color: #313131; }
          .nav-top-wrapper .navbar-top-links li .mail li .message .mail-content .mail-desc {
            font-size: 12px;
            display: block;
            margin: 5px 0;
            color: #313131;
            font-weight: 300; }
          .nav-top-wrapper .navbar-top-links li .mail li .message .mail-content .time {
            display: block;
            font-size: 10px;
            color: #313131;
            font-weight: 100; }
  .nav-top-wrapper .navbar-right li {
    text-align: center; }
    .nav-top-wrapper .navbar-right li .off {
      color: #d9534f; }
    .nav-top-wrapper .navbar-right li button {
      background-color: #fff;
      border: none;
      padding: 0 30px 0 14px;
      line-height: 60px;
      color: #313131; }
      .nav-top-wrapper .navbar-right li a:hover {
        color: #000; }
  .nav-top-wrapper .navbar-right .user-drop-menu {
    width: 280px;
    margin-right: 14px; }
    .nav-top-wrapper .navbar-right .user-drop-menu li {
      display: block;
      float: none; }
      .nav-top-wrapper .navbar-right .user-drop-menu li a:hover {
        background-color: #f7fafc; }
      .nav-top-wrapper .navbar-right .user-drop-menu li .icon {
        font-size: 15px; }
    .nav-top-wrapper .navbar-right .user-drop-menu .drop-user-box .user-img {
      padding: 0;
      width: 90px;
      height: 90px;
      display: block;
      margin: 0 auto; }
      .nav-top-wrapper .navbar-right .user-drop-menu .drop-user-box .user-img img {
        width: 100%;
        height: 100%;
        -webkit-border-radius: 5px;
                border-radius: 5px; }
    .nav-top-wrapper .navbar-right .user-drop-menu .drop-user-box .user-text {
      display: block;
      padding: 0 0px; }
      .nav-top-wrapper .navbar-right .user-drop-menu .drop-user-box .user-text .label, .nav-top-wrapper .navbar-right .user-drop-menu .drop-user-box .user-text p {
        padding: 8px 0;
        display: block;
        text-align: center;
        -webkit-border-radius: 0;
                border-radius: 0;
        margin-top: 5px; }
        .nav-top-wrapper .navbar-right .user-drop-menu .drop-user-box .user-text .label i, .nav-top-wrapper .navbar-right .user-drop-menu .drop-user-box .user-text p i {
          margin-right: 5px; }
      .nav-top-wrapper .navbar-right .user-drop-menu .drop-user-box .user-text p:hover {
        cursor: pointer;
        color: #d9534f; }
      .nav-top-wrapper .navbar-right .user-drop-menu .drop-user-box .user-text .u-name-menu {
        margin: 5px 0;
        text-align: center;
        display: block;
        line-height: 22px;
        font-size: 18px; }
  .nav-top-wrapper .navbar-right .divider {
    width: 100%;
    height: 1px;
    margin: 9px 0;
    background-color: #e5e5e5; }

.clear {
  clear: both; }
#error{
  color:red;
}
/*Sidebar*/
#sidebar-wrapper {
  z-index: 3;
  position: fixed;
  background: #2f323e;
  width: 250px;
  height: 100%;
  overflow-y: hidden;
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08); }
  #sidebar-wrapper .sidebar-head {
    padding: 16px 20px;
    color: #fff; }
    #sidebar-wrapper .sidebar-head .hide-menu {
      font-size: 20px; }
    #sidebar-wrapper .sidebar-head .fa {
      margin: 0 6px;
      font-size: 20px;
      font-weight: 100; }
    #sidebar-wrapper .sidebar-head a {
      color: #fff; }
      #sidebar-wrapper .sidebar-head a:hover {
        color: #fff; }

/*Main content*/
.page-content-wrapper {
  position: absolute;
  top: 62px;
  width: 100%;
  background-color: #edf1f5;
  padding-left: 250px; }

.pl-none {
  padding-left: 0; }

/*Sidebar stylng*/
.sidebar-nav {
  padding: 2px 0 0 0;
  list-style: none; }
  .sidebar-nav .active {
    background: #2cabe3; }
  .sidebar-nav li {
    text-indent: 0px;
    line-height: 40px; }
    .sidebar-nav li a {
      display: block;
      padding: 15px 35px 15px 20px;
      text-decoration: none;
      color: #97999f; }
      .sidebar-nav li a:hover {
        background: #262831; }
      .sidebar-nav li a i {
        font-size: 21px;
        margin-right: 7px; }

/*Users*/
.label, label {
  font-size: 14px;
  font-weight: 400; }

th {
  font-weight: 400; }

.bg-title {
  margin-bottom: 25px;
  background: #f1f2f7;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  overflow: hidden;
  padding: 5px 5px; }
  .bg-title .page-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500; }

.white-box {
  background-color: #fff;
  margin-bottom: 25px;
  padding: 25px 25px;
  -webkit-box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.15); }
  .white-box .box-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 35px; }
  .white-box label {
    font-weight: 400; }
    .white-box label span {
      color: red; }

/*Profile*/
.user-box {
  height: 100%;
  margin-bottom: 20px; }
  .user-box .user-header {
    position: relative; }
    .user-box .user-header .user-bg img {
      width: 100%;
      height: 200px; }
    .user-box .user-header .user-info {
      padding-left: 40px;
      margin-top: -85px; }
      
	  .user-box .user-header .user-info .avatar {
        display: inline-block;
        background-color: #fff;
        padding: 4px;
        -webkit-border-radius: 4px;
                border-radius: 4px; }
		.user-box  .user-header .user-info .avatar img{
			width: 100px;
			height: 100px;
		}
      .user-box .user-header .user-info .u-name {
        display: inline-block;
        margin-left: 35px; }
        .user-box .user-header .user-info .u-name p {
          color: black;
          font-size: 18px;
          margin-left:-24px;
        }
        .user-box .user-header .user-info .u-name span {
          color: black;
          font-size: 14px;
          font-weight: 100;
          margin-left:-24px;
        }

.user-table th {
  font-weight: bold;
  color: #353c4e; }

.user-table td {
  color: #777;
  font-weight: 500; }

/*Login page*/
.login-font {
  color: #d0d0d0;
  font-weight: 300; }

.login-page {
  background-color: #23282d;
  position: relative; }
  .login-page .login-box {
    font-weight: 100;
    position: absolute;
    width: 250px;
    margin: -165px auto;
    padding: 10px 0;
    top: 50%;
    overflow: auto;
    bottom: 0;
    left: 0;
    right: 0; }
    .login-page .login-box .logo-login {
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
      margin: 20px 0;
      text-align: center; }
      .login-page .login-box .logo-login span {
        color: #d0d0d0; }
    .login-page .login-box .btn-sign-in {
      width: 100%;
      font-weight: 100;
      background: #00a0d2;
      -webkit-border-radius: 0px;
              border-radius: 0px;
      color: #fff; }
    .login-page .login-box .input-group-addon, .login-page .login-box .form-control {
      -webkit-border-radius: 0;
              border-radius: 0; }
    .login-page .login-box .checkbox {
      margin: 20px 0; }
      .login-page .login-box .checkbox label {
        color: #d0d0d0;
        font-weight: 100; }

@media screen and (max-width: 767px) {
  .nav-top-wrapper .navbar-right li a {
    padding: 0 14px 0 14px; }
  .nav {
    display: inline-block; }
  .hide-md {
    display: none; }
  #sidebar-wrapper {
    z-index: 4; }
  .logo {
    display: none; }
  .page-content-wrapper {
    padding: 0; }
  .mail {
    margin-left: -110px; }
  .nav-top-wrapper .navbar-right .user-drop-menu {
    margin-right: -1px; } }

@media screen and (max-width: 400px) {
  .user-box .user-header {
    background-color: #e0e0e0;
	position: relative;
    height: 100%; }
    .user-box .user-header .user-bg{
		position: absolute;
	}
	.user-box .user-header .user-bg img {
      width: 100%;
      height: 213px; }
    .user-box .user-header .user-info {
      padding-left: 0;
      padding-top: 20px;
	  position: relative;
      margin-top: 0px; }
	  
      .user-box .user-header .user-info .avatar {
        display: block;
        width: 108px;
        margin: 0 auto; }
      .user-box .user-header .user-info .u-name {
        display: block;
        width: 108px;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px; }
        .user-box .user-header .user-info .u-name p {
          text-shadow: 1px 1px 4px #373a3c; }
        .user-box .user-header .user-info .u-name span {
          text-shadow: 1px 1px 4px #373a3c; } }
.form-control-feedback{
    top: 8px;
}

.newMessage{
  position: relative;
  top: -50px;
  left: 34px;
  color:#9b9ba5;

}

.post_add{
  margin-top: 20px;
  text-align: right;
}

#panel1, #panel2{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 10px;
}