.bgImageButton{
    overflow: hidden;
    display:block;
    height:200px;
    width:1240px;
    margin:10px;
    -moz-box-shadow:5px 5px 7px rgba(3,33,33,.7);
    -webkit-box-shadow: 5px 5px 7px rgba(3,33,33,.7);
    box-shadow: 5px 5px 7px rgba(3,33,33,.7);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.bgImageButton:hover{
    cursor: pointer;
}

.bgImageButton:hover .fa-camera
{
    font-size: 40px!important;
}

.bgImageButton:hover  span {
    position: absolute;
    z-index: 10;
    top: 27px;
    left: 80px;
    font-size: 19px;

}

.bgImageButton > .fa-camera{
    position:absolute;
    top:20px;
    left:29px;
    font-size: 20px!important;
    z-index: 10;
}

.avatarButton{
    overflow: hidden;
    display:block;
    height:100px;
    width:100px;
    margin:10px;
    -moz-box-shadow:5px 5px 7px rgba(3,33,33,.7);
    -webkit-box-shadow: 5px 5px 7px rgba(3,33,33,.7);
    box-shadow: 5px 5px 7px rgba(3,33,33,.7);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.avatarButton > img:hover
{
    border:2px solid black;
    background-color:#fff;
}

.hiddenInput{
    position:absolute;
    overflow: hidden;
    display:block;
    height:0px;
    width:0px;
}